<form id="timeline-setting" data-id="<%==@tl.id%>">
  <button class="delete">delete</button>
  <table>
    <tbody>
      <tr>
        <th>label</th>
        <td><input type="text" name="label" value="<%==@tl.label%>" /></td>
      </tr>
    </tbody>
  </table>
  <h2>streams</h2>
  <ul>
    <% @tl.streams.each{|st| %>
      <li data-id="<%==st.id%>">
        <button class="detach">detach</button>
        <strong><%== st.label %></strong>
      </li>
    <% } %>
  </ul>
</form>
