<h2><%== @label || ""%></h2>
<ul id="timeline-streams">
  <% @streams.each{|st| %>
    <li>
      <%==st.label%>
    </li>
  <% } %>
</ul>

<ol id="tweets" class="tweets">
<% @timeline.each{|tw| %>
  <%= partial(:_stream, :tw => tw)%>
<% } %>
</ol>
