<div id="userinfo" data-context="<%==@context%>" data-name="<%==@screen_name%>">
  <div id="user"></div>

  <div class="appendix">
    <button class="create-user-stream">create stream</button>
  </div>

  <ol class="tweets"></ol>
</div>
